.root {
  div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    img {
      transition: all 0.5s ease-in-out;
    }
    img:hover {
      transform: rotate(50deg);
    }
    h2 {
      text-align: center;
      line-height: 32pt;
      font-size: 30pt;
      font-weight: 600;
      flex: 1;
    }
    span {
      text-wrap: nowrap;
      text-align: center;
      line-height: 32pt;
      font-size: 30pt;
      font-weight: 600;
      flex: 1;
    }
  }
}
.selector {
  width: 400px;
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;

  ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
    width: 100%;

    &:first-of-type {
      margin-bottom: 6px;
    }

    li {
      padding: 8px;

      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
.active {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}
