@import url(global.scss);
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}
$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$duration: 0.15s;

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: none;
}
body {
  background-color: #ffdf8c;
}

.App {
  margin: 4vw 5vw;
  padding: 0 20px 30px;
  border-radius: 20px;
  background-color: white;
  min-width: 300px;
}
